@model String

<div class="row">
    <div class="col-6">
        <a asp-page="Index" class="btn btn-outline-secondary form-control">Cancel</a>
    </div>
    <div class="col-6">
        <input type="submit" value="@Model" class="btn btn-success form-control" />
    </div>
</div>